<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
 <h1 class="text-center title-1"> Compras de Comida </h1>
 <ul>
 <% foodlist.forEach(function(food){ %>
    <%if(food.status === "ativo"){%>
 <li>preco: R$<%= food.preco%> peso:<%= food.peso%>g data da compra: <%= food.mes%>/<%= food.ano%> </li> 
    <%}%>
 <%})%>
 </ul>
</body>
</html>