<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1 class="text-center title-1"> Adicionar Compra </h1>
    <form action="/addfood" method="post">
        <p>Preco: R$<input type="text" name="preco" /></p>
        <p>Peso(gramas):<input type="text" name="peso" /></p>
        <p><input type="submit" value="Salvar" /></p>
    </form>
</body>
</html>