* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.container {
  min-height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #333333;
  text-align: center;
}

.grid {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  max-width: 90vw;
  margin-top: 100px;
  /* border: solid 1px black; */
}

.card {
  margin: 0.8rem;
  flex-basis: 30%;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #999999;
}

.card:hover,
.card:focus,
.card:active {
  color: #2563eb;
  border-color: #2563eb;
}

.card:hover p,
.card:focus p,
.card:active p {
  color: #2563eb;
  border-color: #2563eb;
}

.card h3 {
  margin: 0 0 0 0;
  font-size: 1.5rem;
}

#GridM {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  width: 1400px;
  margin-top: 50px;
  /* border: solid 1px black; */
}

input {
  /* background-color: rgb(191, 219, 254);*/
  border-radius: 5%;
  border-width: 1px;
}

button {
  border-radius: 20%;
}

#insertCard {
  text-align: center;
  margin: auto;
}
