.dashboard {
  min-height: 80vh;
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #333333;
  text-align: center;
}

#GridG {
  display: flex;
  margin: auto;
  /* align-items: center; */
  position: relative;
  flex-wrap: wrap;
  column-count: 3;
  width: 100%;
  margin-top: 50px;
  /* border: solid 1px black; */
}

.pcard {
  margin: 1rem 15%;
  flex-basis: 70%;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.pcard:hover,
.pcard:focus,
.pcard:active {
  color: #2563eb;
  border-color: #2563eb;
}

.pcard h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.pcard p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.trashButton {
  background-image: url("../public/TrashCan.png");
  background-size: cover;
  width: 35px;
  height: 39px;
  display: inline-block;
  border-radius: 0;
  box-sizing: content-box;
}
